.editor {
    /* width: 100%; */
      max-width:500;
    font-size: 0.85rem;
    outline: 0px solid transparent;
  }
  [contenteditable][placeholder]:empty:before {
    content: attr(placeholder);
    position: absolute;
    color: gray;
    background-color: transparent;
  }